/*Fonte de Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Fonte de Textos*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&display=swap');

